<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Specifies if the encryption key has been generated or not. Not recommended to manually change it. Will cause errors or key regeneration.-->
		<add key="keyGenerated" value="false"/>
		<!-- Key used to encrypt the passwords, gets generated when the app is firstly ran, changing this means that no saved password can get decrypted -->
		<add key="encryptionKey" value=""/>
		
		<!-- Default Main Database connection details-->
		<add key="defaultServer" value=""/>
		<add key="defaultPort" value=""/>
		<add key="defaultInstance" value=""/>
		<add key="SQLAuth" value="false"/>
		<add key="defaultUsername" value=""/>
		<add key="rememberMe" value="false"/>

		<!-- Default schema, table name, filter column used for Connection and Procedure tables-->
		<add key="ConnectionTableSchema" value="dbo"/>
		<add key="ConnectionTable" value="ServerConfig"/>
		<add key="ConnectionFilterColumn" value="ID"/>
		<add key="ProcedureTableSchema" value="dbo"/>
		<add key="ProcedureTable" value="ServerProcedures"/>
		<add key="ProcedureFilterColumn" value="ProcedureName"/>
		<add key="DataRetrivealColumn" value="OnReturnExecute"/>
	</appSettings>
</configuration>