<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="encryptionKey" value="zYH0fsISb8Df2X9yOe18hgVeXmOZGXTd"/>
		<add key="defaultServer" value="localhost"/>
		<add key="defaultPort" value="1433"/>
		<add key="defaultInstance" value="OGRIT-DB"/>
		<add key="ConnectionTableSchema" value="dbo"/>
		<add key="ConnectionTable" value="ServerConfig"/>
		<add key="FilterColumn" value="ID"/>
		<add key="ProcedureTableSchema" value="dbo"/>
		<add key="ProcedureTable" value="ServerProcedures"/>
	</appSettings>
</configuration>